.form {
    display: grid;
    grid-gap: 20px 24px;
}

.input-title {
    grid-area: title;
}

.input-tags {
    grid-area: tags;
}

.input-photo {
    grid-area: photo;
}

.input-portrait {
    grid-area: personPhoto;
    width: 160px;
}

.input-firstName {
    grid-area: firstName;
}

.input-lastName {
    grid-area: lastName;
}

.input-maidenName {
    grid-area: maidenName;
}

.input-dateOfBirth {
    grid-area: dateOfBirth;
}

.input-placeOfBirth {
    grid-area: placeOfBirth;
}

.input-dateOfDeath {
    grid-area: dateOfDeath;
}

.input-placeOfDeath {
    grid-area: placeOfDeath;
}

.input-gender {
    grid-area: gender;
}

.input-lifeState {
    display: flex;
    grid-area: living;
}

.input-relationshipStatus {
    grid-area: relationshipStatus;
}

.input-dateOfMarriage {
    grid-area: dateOfMarriage;
}

.input-placeOfMarriage {
    grid-area: placeOfMarriage;
}

.input-dateOfDivorce {
    grid-area: dateOfDivorce;
}

.input-placeOfDivorce {
    grid-area: placeOfDivorce;
}

.input-parentFamilyId {
    grid-area: parentFamilyId;
}

.input-spouseFamilyId {
    grid-area: spouseFamilyId;
}

.input-spouseAttachFamilyId {
    grid-area: spouseAttachFamilyId;
}

.buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    grid-area: buttons;
}

.buttons > *:nth-child(3) {
    margin-left: auto;
}
