.form {
    display: grid;
    grid-gap: 20px 24px;
}

.input-title {
    grid-area: title;
}

.input-tags {
    grid-area: tags;
}

.input-photo {
    grid-area: photo;
}

.input-personPhoto {
    grid-area: personPhoto;
    width: 132px;
}

.input-firstName {
    grid-area: firstName;
}

.input-lastName {
    grid-area: lastName;
}

.input-maidenName {
    grid-area: maidenName;
}

.input-dateOfBirth {
    grid-area: dateOfBirth;
}

.input-placeOfBirth {
    grid-area: placeOfBirth;
}

.input-dateOfDeath {
    grid-area: dateOfDeath;
}

.input-placeOfDeath {
    grid-area: placeOfDeath;
}

.input-gender {
    grid-area: gender;
}

.input-lifeState {
    grid-area: living;
}

.buttons {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    grid-area: buttons;
}

.buttons > *:nth-child(3) {
    margin-left: auto;
}
