.inputContainer {
    display: flex;
    align-items: center;
}

.inputWrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #1e1e1b;
    border-radius: 4px;
    transition: all 300ms ease;
}

.inputWrapper:focus-within {
    box-shadow: 0 0 0 1px #9f0004 inset;
}

.placeholder {
    margin: 0;
    margin-right: 10px;
}

.label, .labelYear {
}

.label {
    position: relative;
    width: 30px;
}

.labelYear {
    width: 40px;
}

.label::after {
    content: "/";
    position: absolute;
    top: 3px;
    right: -10px;
    display: block;
    width: 10px;
    height: 100%;
}

.field {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    padding: 0;
    border: none;
}

.field::placeholder {
    opacity: 0.5;
    color: inherit;
}

.field:active,
.field:focus {
    outline: none !important;
}
