.card {
    position: relative;
    overflow: visible;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
    z-index: 2;
}

:global(.react-flow__node:has([data-node-menu]:focus-within)),
:global(.react-flow__node:has([data-node-menu]:hover)) {
    z-index: 1000 !important;
}

.info {
    display: flex;
    gap: 10px;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 155px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    z-index: 10;
}

.photo {
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(180, 120, 130, 0.25);
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    display: flex;
    flex-direction: column;
    max-height: 36px;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.2;
}

.dates {
    display: flex;
    font-size: 12px;
    font-weight: 300;
}

.date {
    display: flex;
    align-items: center;
    gap: 2px;
}

.lifeIcon {
    filter: brightness(0) saturate(100%) invert(16%) sepia(34%) saturate(5392%) hue-rotate(341deg) brightness(95%) contrast(127%);
    opacity: .5;
    object-fit: contain;
    width: 8px;
    height: 8px;
    margin-bottom: -2px;
}

.sousesBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    padding: 2px;
    border: none;
    border-radius: 4px;
    background-color: rgba(159, 0, 4, 0.15);
    font-size: 10px;
    font-weight: 300;
    font-family: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sousesBtn:hover, .sousesBtn:focus {
    color: #9f0004;
}

.editList {
    top: 30px;
    right: -6px;
}