.card {
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
    z-index: 2;
}

.info {
    display: flex;
    gap: 10px;
}

.about {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo {
    width: 68px;
    height: 68px;
    box-shadow: 0 1px 3px rgba(180, 120, 130, 0.25);
    border-radius: 4px;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 1.2;
}

.dates {
    display: flex;
    font-size: 12px;
    font-weight: 300;
}

.date {
    display: flex;
    align-items: center;
}

.lifeIcon {
    filter: brightness(0) saturate(100%) invert(16%) sepia(34%) saturate(5392%) hue-rotate(341deg) brightness(95%) contrast(127%);
    opacity: .5;
    object-fit: contain;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    margin-bottom: -2px;
}