.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.photo {
    width: 905px;
    height: 648px;
    object-fit: contain;
}
