.inputWrapper {
    height: 40px;
}

.label {
    position: relative;
    display: flex;
}

.label::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'><path d='M10.7813 14.5634C10.6291 14.5634 10.4768 14.5109 10.3534 14.4059L4.22931 9.15593C3.95368 8.91968 3.92218 8.50493 4.15843 8.22931C4.39468 7.95368 4.80943 7.92218 5.08506 8.15843L10.7813 13.0436L16.4802 8.15843C16.7558 7.92218 17.1706 7.95368 17.4068 8.22931C17.6431 8.50493 17.6116 8.91968 17.3359 9.15593L11.2092 14.4059C11.0858 14.5109 10.9336 14.5634 10.7813 14.5634Z' fill='rgb(30,30,27)'/></svg>");
    background-size: contain;
    transition: all 300ms ease;
}

.field {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
    padding-right: 36px;
    border: 1px solid #1e1e1b;
    border-radius: 4px;
    background-color: transparent;
    transition: 300ms ease;
}

.field:invalid {
    color: #808080;
}

.field option {
    color: #1e1e1b;
}

.field:active,
.field:focus {
    outline: none !important;
    box-shadow: 0 0 0 1px #9f0004 inset;
}

.label:focus-within::after {
    filter: brightness(0) saturate(100%) invert(19%) sepia(26%) saturate(6724%) hue-rotate(341deg) brightness(84%) contrast(110%);
}
