.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    max-width: 1292px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: white;
    z-index: 100;
}
