.title {
    margin-top: -9px;
    margin-bottom: 8px;

    @media (--tablet) {
        margin-top: 0;
    }
}

.inputs {
    display: flex;
    gap: 16px;
    margin-top: 20px;

    @media (--tablet) {
        margin-top: 10px;
    }
}

.input {
    flex: 1 1 auto;
}