.photoAlbumPage {
    margin-top: 118px;
    padding-top: 80px;

    @media (--tablet) {
        margin-top: 80px;
        padding-top: 60px;
    }
}

.photoAlbumPage::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 387px;
    width: 100%;
    background-image: url('../../assets/img/background-figure.png');
    background-repeat: repeat-x;
    z-index: -1;
}

