.tag {
    font-size: 24px;
    margin: 0;
    padding: 0 4px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.tag.active {
    color: #9e0004;
}
