.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1356px;
    padding-right: 32px;
    padding-left: 32px;

    @media (--tablet-lg) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.textBlock {
    text-align: center;
    margin: 0 auto;
    max-width: 1106px;
}

.storeOrganize {
    position: relative;
    margin-top: 140px;
    margin-bottom: 100px;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url('../../../assets/img/background-figure-2.png');
    background-repeat: repeat;
    background-size: inherit;
    z-index: 1;

    @media (--tablet-lg) {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    @media (--tablet) {
        margin-top: 20px;
        margin-bottom: 0;
    }

    @media (--phone) {
        margin-top: 0;
    }
}

.storeOrganize::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    mask-image: linear-gradient(
            to bottom,
            rgb(217, 217, 217) 10%,
            rgba(217, 217, 217, 0.5) 51%,
            rgba(217, 217, 217, 0.3) 61%,
            rgb(217, 217, 217) 90%
    );
    z-index: 1;
}

.photos {
    display: block;
    margin-top: 53px;

    @media (--tablet) {
        margin-top: 32px;
    }

    @media (--phone) {
        margin-top: 24px;
    }
}
