.personalAccount {
    position: relative;
    padding-top: 237px;
    padding-bottom: 210px;
    background-image: url('../../../assets/img/background-figure-2.png');
    background-repeat: repeat-x;
    background-size: inherit;
    overflow: hidden;
    z-index: 1;

    @media (--tablet-lg) {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    @media (--tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (--phone) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.personalAccount::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    mask-image: linear-gradient(
        to bottom,
        rgba(217, 217, 217, 1) 12%,
        rgba(217, 217, 217, 0.5) 51%,
        rgba(217, 217, 217, 0.5) 61%,
        rgba(217, 217, 217, 1) 84%
    );
    z-index: 1;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1356px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;

    @media (--tablet-lg) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (--tablet) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.container {
    position: relative;
    width: 100%;
    z-index: 2;
}

.textBlock,
.textBlockReverse {
    position: relative;
    max-width: 684px;
}

.textBlock {
    margin-left: -376px;

    @media (--tablet) {
        margin-left: 0;
    }
}

.textBlockReverse {
    margin-right: -376px;

    @media (--tablet) {
        margin-right: 0;
    }
}

.textBlock::before,
.textBlockReverse::before {
    content: '';
    position: absolute;
    display: block;
    width: 598px;
    height: 152%;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.textBlock::before {
    top: -110px;
    left: -75px;
    transform: rotate(-18deg);

    @media (--tablet) {
        left: auto;
        right: -93px;
    }

    @media (--phone) {
        top: -42px;
    }
}

.textBlockReverse::before {
    top: -80px;
    right: -93px;
    transform: rotate(-16deg);

    @media (--tablet) {
        right: auto;
        left: -93px;
        top: -110px;
    }

    @media (--phone) {
        top: -42px;
        right: 0px;
        left: auto;
    }
}

.textBlock::after,
.textBlockReverse::after {
    content: '';
    position: absolute;
    display: block;
    width: 598px;
    height: 488px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 28px 0px 93px 85px rgb(255, 255, 255);
    z-index: -1;
}

.textBlock::after {
    top: -110px;
    left: -75px;
    transform: rotate(-18deg);
}

.textBlockReverse::after {
    top: -80px;
    right: -93px;
    transform: rotate(-16deg);
}

.about {
    max-width: 630px;
}
