.textBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (--tablet) {
        gap: 20px;
    }

    @media (--phone) {
        gap: 12px;
    }
}

.textRight {
    text-align: right;
    align-items: end;
}
