.wrapper {
    margin: 0 auto;
}

.photo {
    display: block;
    width: 100%;
    height: 1024px;
    object-fit: cover;
    object-position: top center;

    @media (--tablet) {
        height: 700px;
    }

    @media (--phone) {
        height: 500px;
    }
}
