.mainHero {
    display: flex;
    min-height: 1028px;
    overflow: hidden;

    @media (--tablet) {
        min-height: 900px;
    }

    @media (--phone) {
        min-height: 700px;
    }
}

.mainHero::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 387px;
    width: 100%;
    background-image: url('../../../assets/img/background-figure.png');
    background-repeat: repeat-x;
    z-index: 10;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1356px;
    padding-right: 32px;
    padding-left: 32px;

    @media (--tablet-lg) {
        padding-right: 24px;
        padding-left: 24px;
    }

    @media (--tablet) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.textBlock {
    padding-top: 45px;
    max-width: 740px;
    z-index: 1;
}

.textBlock::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -215px;
    width: 955px;
    height: 110%;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(22deg);

    @media (--desktop-sm) {
        height: 120%;
        transform: rotate(12deg);
    }

    @media (--tablet-lg) {
        left: -350px;
    }
}

.about {
    max-width: 480px;
}

.photoBlock {
    position: absolute;
    top: 0;
    right: -280px;
    z-index: -1;
}
